.animated-background{

position:fixed;

inset:0;

overflow:hidden;

z-index:0;

pointer-events:none;

background:#f8fafc;

}




.glow{

position:absolute;

border-radius:50%;

filter:blur(120px);

animation:moveGlow 12s infinite alternate;

}





.glow-blue{

width:500px;

height:500px;

background:#2563eb;

top:-200px;

left:-150px;

opacity:.25;

}





.glow-gold{

width:400px;

height:400px;

background:#facc15;

bottom:-150px;

right:-100px;

opacity:.2;

}






.particles span{


position:absolute;

width:8px;

height:8px;

background:#facc15;

border-radius:50%;

animation:particleMove 10s infinite;

box-shadow:

0 0 15px #facc15;

}







.particles span:nth-child(1){

left:10%;

top:20%;

}





.particles span:nth-child(2){

left:30%;

top:70%;

animation-delay:2s;

}





.particles span:nth-child(3){

left:50%;

top:40%;

animation-delay:4s;

}





.particles span:nth-child(4){

left:75%;

top:25%;

animation-delay:1s;

}





.particles span:nth-child(5){

left:85%;

top:80%;

animation-delay:3s;

}





.particles span:nth-child(6){

left:60%;

top:90%;

animation-delay:5s;

}








@keyframes moveGlow{


from{

transform:

translate(0,0)
scale(1);

}



to{

transform:

translate(80px,60px)
scale(1.15);

}


}







@keyframes particleMove{


0%{

transform:

translateY(0)
scale(.5);

opacity:0;

}



50%{


opacity:1;

}



100%{


transform:

translateY(-120px)
scale(1.2);

opacity:0;


}


}
