.footer{

background:#0f172a;

color:white;

padding:50px 20px;

margin-top:80px;

}



.footer-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:30px;

}



.footer h2{

color:white;

margin-bottom:15px;

}



.footer h3{

margin-bottom:15px;

}



.footer p{

color:#cbd5e1;

line-height:1.8;

}



.footer-bottom{

margin-top:35px;

padding-top:25px;

border-top:1px solid #334155;

text-align:center;

color:#94a3b8;

}



@media(max-width:768px){

.footer{

text-align:center;

}

}
