.falling-coin{

position:absolute;

top:-50px;

z-index:2;

animation:
fall 10s linear infinite;

opacity:.8;

}


@keyframes fall{


0%{

transform:
translateY(-100px)
rotate(0deg);

}


100%{

transform:
translateY(100vh)
rotate(360deg);

}


}
